# Módulo 1

## Cadenas

In [ ]:
# Buena práctica: usar comillas simples en lugar de dobles
print('Hello! I\'m from Mexico City')

Hello! I'm from Mexico City

In [ ]:
# No hacer:
print("Hello!, I'm from Mexico City")

Hello!, I'm from Mexico City

## Enteros

In [3]:
# A partir de Python 3 se pueden usar guiones bajos en números para mejor legibilidad
num1 = 12000300
num2 = 12_000_300
print(num1 + 1)
print(num2 + 1)

12000301
12000301

Los nombres de las variables deben comenzar únicamente con letras o guiones bajo.

## Base octal y hexadecimal

In [ ]:
# Octal: empiezan con 0O or 0o
print(0o123)

83

In [ ]:
# Hexadecimal: empiezan con 0X or 0x
print(0x123)

291

# Módulo 2

## Flotantes

In [1]:
# Los flotantes son representaciones aproximadas
print(0.1)
print(0.1 + 0.1 + 0.1)

0.1
0.30000000000000004

## Operador exponente

In [2]:
# El operador exponencial funciona de derecha a izquierda
print(2 ** 2 ** 3)
print((2 ** 2) ** 3)
print(2 ** (2 ** 3))

256
64
256

Todos los demás operadores funcionan de izquierda a derecha.

## Operadores de bits

In [7]:
first_bit = 0
second_bit = 1
print(first_bit & second_bit)  # AND
print(first_bit | second_bit)  # OR
print(first_bit ^ second_bit)  # XOR (uno u otro, no ambos)

0
1
1

In [ ]:
# ~ es el operador NOT:
# ~x = - x - 1
print(~first_bit)  # NOT
print(~second_bit)  # NOT

-1
-2

In [ ]:
# Desplazamiento a la izquierda y a la derecha
numero_decimal = 24
print('Multiplicado/dividido por 2')
print(numero_decimal << 1)  # Desplazamiento a la izquierda (multiplicación por 2)
print(numero_decimal >> 1)  # Desplazamiento a la derecha (división por 2)
print('Multiplicado/dividido por 4')
print(numero_decimal << 2)  # Desplazamiento a la izquierda (multiplicación por 4)
print(numero_decimal >> 2)  # Desplazamiento a la derecha (división por 4)
print('Multiplicado/dividido por 8')
print(numero_decimal << 3)  # Desplazamiento a la izquierda (multiplicación por 8)
print(numero_decimal >> 3)  # Desplazamiento a la derecha (división por 8)
print('Multiplicado/dividido por 16')
print(numero_decimal << 4)  # Desplazamiento a la izquierda (multiplicación por 16)
print(numero_decimal >> 4)  # Desplazamiento a la derecha (división por 16)
print('Multiplicado/dividido por 32')
print(numero_decimal << 5)  # Desplazamiento a la izquierda (multiplicación por 32)
print(numero_decimal >> 5)  # Desplazamiento a la derecha (división por 32)

Multiplicado/dividido por 2
48
12
Multiplicado/dividido por 4
96
6
Multiplicado/dividido por 8
192
3
Multiplicado/dividido por 16
384
1
Multiplicado/dividido por 32
768
0

# Módulo 3

## Operadores lógicos

Prioridad de los operadores lógicos:
1. not
2. and
3. or

In [ ]:
user_age = int(input('What is your age? '))
user_country = input('What is your country? ')

# Se usa la barra invertida para continuar la línea
if not user_country == 'Germany' and user_age < 25 or \
    user_country == 'Germany' and user_age < 23:
    print('You qualify!')
else:
    print('You don\'t qualify!')

You qualify!

## Otras características de los ciclos

La sentencia else siempre se ejecuta (una vez) si se incluye como parte de un ciclo. Excepto si se usa break.

In [3]:
i = 5
while i < 5:
    print(i)
    i += 1
else:
    print('else:', i)

else: 5

# Módulo 4

## Recorriendo listas

In [8]:
lista = [1, 2, 3, 4, 5, 'seis']
lista.append(7)
lista.insert(1, 'uno y medio')
print(lista)

[1, 'uno y medio', 2, 3, 4, 5, 'seis', 7]

In [10]:
nombre = 'Jose Alberto'
for i in nombre:
    print(i, end=' ')

J o s e   A l b e r t o

In [11]:
top_cities = ['New York City', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
for city_index in range(len(top_cities)):
    print('Current index:', city_index, '| Current city:', top_cities[city_index], )

Current index: 0 | Current city: New York City
Current index: 1 | Current city: Los Angeles
Current index: 2 | Current city: Chicago
Current index: 3 | Current city: Houston
Current index: 4 | Current city: Phoenix

## Cambiando valores

In [12]:
first = input('Enter first number: ')
second = input('Enter second number: ')
print('Before swapping:', first, second)
temporary = first
first = second
second = temporary
print('After swapping:', first, second)

Before swapping: 20 10
After swapping: 10 20

In [13]:
# Otra forma más sencilla de intercambiar valores
first = input('Enter first number: ')
second = input('Enter second number: ')
print('Before swapping:', first, second)
first, second = second, first
print('After swapping:', first, second)

Before swapping: 20 10
After swapping: 10 20

In [14]:
# Intercambiando valores dentro de una lista
top_cities = ['New York City', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
top_cities[0], top_cities[4] = top_cities[4], top_cities[0]
print(top_cities)

['Phoenix', 'Los Angeles', 'Chicago', 'Houston', 'New York City']

## Usando un método vs una función

In [15]:
# Usando el método sort se modifica el objeto original
top_cities = ['New York City', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
top_cities.sort()
print(top_cities)

['Chicago', 'Houston', 'Los Angeles', 'New York City', 'Phoenix']

In [16]:
# Usando la función sorted no se modifica el objeto original
top_cities = ['New York City', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
print(sorted(top_cities))
print(top_cities)

['Chicago', 'Houston', 'Los Angeles', 'New York City', 'Phoenix']
['New York City', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']

## Copiando listas

Para tipos de datos simples (como string, enteros, flotantes, etc.) al copiar un valor, la nueva variable toma el nombre (valor) de la variable existente y así se tienen 2 variables distintas con el mismo valor:

In [1]:
name_original = 'Jon Snow'
name_new = name_original
name_original = 'Daenerys Targaryen'
print(name_original, name_new)

Daenerys Targaryen Jon Snow

Sin embargo, para el caso de las listas no funciona de la misma manera. La nueva variable obtiene la referencia del lugar de la memoria en donde existe la variable a copiar. Por lo que en el caso de las listas tendriamos 2 nombres (variables) que apuntan al mismo objeto:

In [2]:
list_original = [1, 2, 3]
list_new = list_original
list_original[0] = -5
print('Original:', list_original, '\nNew:', list_new)

Original: [-5, 2, 3]
New: [-5, 2, 3]

Para crear una copia (un objeto diferente al original) basta con usar slicing:

In [3]:
list_original = [1, 2, 3]
list_new = list_original[:]
list_original[0] = -5
print('Original:', list_original, '\nNew:', list_new)

Original: [-5, 2, 3]
New: [1, 2, 3]