# Módulo 1

## Cadenas

In [ ]:
# Buena práctica: usar comillas simples en lugar de dobles
print('Hello! I\'m from Mexico City')

Hello! I'm from Mexico City

In [ ]:
# No hacer:
print("Hello!, I'm from Mexico City")

Hello!, I'm from Mexico City

## Enteros

In [3]:
# A partir de Python 3 se pueden usar guiones bajos en números para mejor legibilidad
num1 = 12000300
num2 = 12_000_300
print(num1 + 1)
print(num2 + 1)

12000301
12000301

Los nombres de las variables deben comenzar únicamente con letras o guiones bajo.

## Base octal y hexadecimal

In [ ]:
# Octal: empiezan con 0O or 0o
print(0o123)

83

In [ ]:
# Hexadecimal: empiezan con 0X or 0x
print(0x123)

291

# Módulo 2

## Flotantes

In [1]:
# Los flotantes son representaciones aproximadas
print(0.1)
print(0.1 + 0.1 + 0.1)

0.1
0.30000000000000004

## Operador exponente

In [2]:
# El operador exponencial funciona de derecha a izquierda
print(2 ** 2 ** 3)
print((2 ** 2) ** 3)
print(2 ** (2 ** 3))

256
64
256

Todos los demás operadores funcionan de izquierda a derecha.

## Operadores de bits

In [7]:
first_bit = 0
second_bit = 1
print(first_bit & second_bit)  # AND
print(first_bit | second_bit)  # OR
print(first_bit ^ second_bit)  # XOR (uno u otro, no ambos)

0
1
1

In [ ]:
# ~ es el operador NOT:
# ~x = - x - 1
print(~first_bit)  # NOT
print(~second_bit)  # NOT

-1
-2

In [ ]:
# Desplazamiento a la izquierda y a la derecha
numero_decimal = 24
print('Multiplicado/dividido por 2')
print(numero_decimal << 1)  # Desplazamiento a la izquierda (multiplicación por 2)
print(numero_decimal >> 1)  # Desplazamiento a la derecha (división por 2)
print('Multiplicado/dividido por 4')
print(numero_decimal << 2)  # Desplazamiento a la izquierda (multiplicación por 4)
print(numero_decimal >> 2)  # Desplazamiento a la derecha (división por 4)
print('Multiplicado/dividido por 8')
print(numero_decimal << 3)  # Desplazamiento a la izquierda (multiplicación por 8)
print(numero_decimal >> 3)  # Desplazamiento a la derecha (división por 8)
print('Multiplicado/dividido por 16')
print(numero_decimal << 4)  # Desplazamiento a la izquierda (multiplicación por 16)
print(numero_decimal >> 4)  # Desplazamiento a la derecha (división por 16)
print('Multiplicado/dividido por 32')
print(numero_decimal << 5)  # Desplazamiento a la izquierda (multiplicación por 32)
print(numero_decimal >> 5)  # Desplazamiento a la derecha (división por 32)

Multiplicado/dividido por 2
48
12
Multiplicado/dividido por 4
96
6
Multiplicado/dividido por 8
192
3
Multiplicado/dividido por 16
384
1
Multiplicado/dividido por 32
768
0

# Módulo 3

## Operadores lógicos

Prioridad de los operadores lógicos:
1. not
2. and
3. or

In [ ]:
user_age = int(input('What is your age? '))
user_country = input('What is your country? ')

# Se usa la barra invertida para continuar la línea
if not user_country == 'Germany' and user_age < 25 or \
    user_country == 'Germany' and user_age < 23:
    print('You qualify!')
else:
    print('You don\'t qualify!')

You qualify!

## Otras características de los ciclos

La sentencia else siempre se ejecuta (una vez) si se incluye como parte de un ciclo. Excepto si se usa break.

In [3]:
i = 5
while i < 5:
    print(i)
    i += 1
else:
    print('else:', i)

else: 5

# Módulo 4

## Recorriendo listas

In [8]:
lista = [1, 2, 3, 4, 5, 'seis']
lista.append(7)
lista.insert(1, 'uno y medio')
print(lista)

[1, 'uno y medio', 2, 3, 4, 5, 'seis', 7]

In [10]:
nombre = 'Jose Alberto'
for i in nombre:
    print(i, end=' ')

J o s e   A l b e r t o

In [11]:
top_cities = ['New York City', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
for city_index in range(len(top_cities)):
    print('Current index:', city_index, '| Current city:', top_cities[city_index], )

Current index: 0 | Current city: New York City
Current index: 1 | Current city: Los Angeles
Current index: 2 | Current city: Chicago
Current index: 3 | Current city: Houston
Current index: 4 | Current city: Phoenix

## Cambiando valores

In [12]:
first = input('Enter first number: ')
second = input('Enter second number: ')
print('Before swapping:', first, second)
temporary = first
first = second
second = temporary
print('After swapping:', first, second)

Before swapping: 20 10
After swapping: 10 20

In [13]:
# Otra forma más sencilla de intercambiar valores
first = input('Enter first number: ')
second = input('Enter second number: ')
print('Before swapping:', first, second)
first, second = second, first
print('After swapping:', first, second)

Before swapping: 20 10
After swapping: 10 20

In [14]:
# Intercambiando valores dentro de una lista
top_cities = ['New York City', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
top_cities[0], top_cities[4] = top_cities[4], top_cities[0]
print(top_cities)

['Phoenix', 'Los Angeles', 'Chicago', 'Houston', 'New York City']

## Usando un método vs una función

In [15]:
# Usando el método sort se modifica el objeto original
top_cities = ['New York City', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
top_cities.sort()
print(top_cities)

['Chicago', 'Houston', 'Los Angeles', 'New York City', 'Phoenix']

In [16]:
# Usando la función sorted no se modifica el objeto original
top_cities = ['New York City', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
print(sorted(top_cities))
print(top_cities)

['Chicago', 'Houston', 'Los Angeles', 'New York City', 'Phoenix']
['New York City', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']

## Copiando listas

Para tipos de datos simples (como string, enteros, flotantes, etc.) al copiar un valor, la nueva variable toma el nombre (valor) de la variable existente y así se tienen 2 variables distintas con el mismo valor:

In [1]:
name_original = 'Jon Snow'
name_new = name_original
name_original = 'Daenerys Targaryen'
print(name_original, name_new)

Daenerys Targaryen Jon Snow

Sin embargo, para el caso de las listas no funciona de la misma manera. La nueva variable obtiene la referencia del lugar de la memoria en donde existe la variable a copiar. Por lo que en el caso de las listas tendriamos 2 nombres (variables) que apuntan al mismo objeto:

In [2]:
list_original = [1, 2, 3]
list_new = list_original
list_original[0] = -5
print('Original:', list_original, '\nNew:', list_new)

Original: [-5, 2, 3]
New: [-5, 2, 3]

Para crear una copia (un objeto diferente al original) basta con usar slicing:

In [3]:
list_original = [1, 2, 3]
list_new = list_original[:]
list_original[0] = -5
print('Original:', list_original, '\nNew:', list_new)

Original: [-5, 2, 3]
New: [1, 2, 3]

## List comprehension

In [4]:
numbers = []
for i in range(1, 101):
    if i % 3 != 0:
        numbers.append(i)
print(numbers)

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20, 22, 23, 25, 26, 28, 29, 31, 32, 34, 35, 37, 38, 40, 41, 43, 44, 46, 47, 49, 50, 52, 53, 55, 56, 58, 59, 61, 62, 64, 65, 67, 68, 70, 71, 73, 74, 76, 77, 79, 80, 82, 83, 85, 86, 88, 89, 91, 92, 94, 95, 97, 98, 100]

Podemos pensar una list comprehension como una lista que se crea al vuelo:

In [5]:
numbers = [i for i in range(1, 101) if i % 3 != 0]
print(numbers)

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20, 22, 23, 25, 26, 28, 29, 31, 32, 34, 35, 37, 38, 40, 41, 43, 44, 46, 47, 49, 50, 52, 53, 55, 56, 58, 59, 61, 62, 64, 65, 67, 68, 70, 71, 73, 74, 76, 77, 79, 80, 82, 83, 85, 86, 88, 89, 91, 92, 94, 95, 97, 98, 100]

## Listas anidadas

In [6]:
cells = [['A1', 'A2', 'A3'], ['B1', 'B2', 'B3']]
cells[0][1]

'A2'

In [7]:
# Lista anidada tipo matriz usando list comprehension
#1 2 3 4 5
#1 2 3 4 5
#1 2 3 4 5
#1 2 3 4 5

table = [[i for i in range(1, 6)] for j in range(4)]
print(table)

[[1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5]]

## Tuplas

In [1]:
# Para definir una tupla, se usan paréntesis, aunque no es obligatorio
tupla = (1, 2, 3)
print(tupla)
tupla = 1,
print(tupla)
tupla = 1, 2, 3, 4, 5
print(tupla)

(1, 2, 3)
(1,)
(1, 2, 3, 4, 5)

In [ ]:
# Las tuplas son inmutables, no se pueden modificar una vez creadas
user_data = ('Katya', 'Russian', 1980)
user_data.append('teacher')
# Esto generará un error porque las tuplas son inmutables

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
del user_data[0]
# Esto generará un error porque las tuplas son inmutables

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
user_data[0] = 'Katerina'
# Esto generará un error porque las tuplas son inmutables

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Cuando anteriormente intercambiamos valores dentro de una lista, lo hicimos con una tupla
first = 5
second = 7
first, second = second, first

En general se recomienda usar listas cuando los valores a guardar son del mismo tipo.
nombres = ['Jose', 'Juan', 'Pedro'].

Para las tuplas se recomienda usar valores que tienen una relación entre sí, pueden ser de distinto tipo:
('Juan', 'juan@correo.com', 30, 1.78).

## Listas y tuplas

In [ ]:
# Usando tuplas dentro de una lista
city_1 = ('London', 'UK', 8.98)
city_2 = ('Canberra', 'Australia', 0.4)
city_3 = ('Algiers', 'Algeria', 3.9)

capitals = [city_1, city_2, city_3]

for city in capitals:
    print(f'City: {city[0]}, Country: {city[1]}, Population: {city[2]} million')

City: London, Country: UK, Population: 8.98 million
City: Canberra, Country: Australia, Population: 0.4 million
City: Algiers, Country: Algeria, Population: 3.9 million

In [7]:
# Usando listas dentro de una tupla
user_data = ('John', 'American', 1964, [77.0, 78.2, 77.5])
print(user_data)

('John', 'American', 1964, [77.0, 78.2, 77.5])

In [8]:
# Podemos modificar la lista dentro de la tupla
user_data[3].append(79.0)
print(user_data)

('John', 'American', 1964, [77.0, 78.2, 77.5, 79.0])

## Diccionarios

In [ ]:
# Un diccionario puede tener como clave una tupla
tennis_ranking = {
    (1,2): 'Ashleigh Barty',
    (2,2): 'Naomi Osaka',
    (3,2): 'Simona Halep'
    }

print(tennis_ranking[(2,2)])

Naomi Osaka

In [10]:
# Pero no pueden tener como clave una lista
tennis_ranking = {
    [1,2]: 'Ashleigh Barty',
    [2,2]: 'Naomi Osaka',
    [3,2]: 'Simona Halep'
    }
# Esto generará un error porque las listas son mutables y no se pueden usar como claves en un diccionario

TypeError: unhashable type: 'list'

Para los valores dentro de un diccionario no hay restricciones, es decir pueden ser cualquier tipo de dato o colección.

## Operaciones con diccionarios

In [1]:
grades = {}

# Para agregar nuevos elementos al diccionario
grades['John'] = 95
grades['Alice'] = 85
grades['Bob'] = 90
print(grades)

{'John': 95, 'Alice': 85, 'Bob': 90}

In [2]:
# Para actualizar un elemento existente
grades['Alice'] = 50
print(grades)

# Otra forma es estar usando el método update
grades.update({'Alice': 29})
print(grades)

{'John': 95, 'Alice': 50, 'Bob': 90}
{'John': 95, 'Alice': 29, 'Bob': 90}

In [3]:
if 'John' in grades:
    print('John got:', grades['John'])

del grades['Bob']
print(grades)

John got: 95
{'John': 95, 'Alice': 29}

In [ ]:
for el in grades:
    print(el)

# Funnciona igual que:
for el in grades.keys():
    print(el)

John
Alice
John
Alice

In [ ]:
# Imprime solo los valores
for el in grades.values():
    print(el)

95
29

In [8]:
# Imprimir las claves y los valores
for person, grade in grades.items():
    print(person, 'got', grade)

John got 95
Alice got 29

## Quiz

In [9]:
my_numbers = [[i for i in range(3)] for j in range(4)]
print(my_numbers)

[[0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [11]:
values = [[3 - x for x in range(2)] for y in range(5)]
print(values)

sum = 0.0
for row in values:
    for cell in row:
        sum += cell

print(sum)

[[3, 2], [3, 2], [3, 2], [3, 2], [3, 2]]
25.0

In [12]:
my_list = [0, 1, 2] * 3 + [0]
print(len(my_list))

10

In [14]:
vals = (1, 2, 3, 4)
vals = vals[1:-1]
print(vals)
vals = vals[1]
print(vals)

(2, 3)
3

# Módulo 5

## Funciones
El valor del argumento se asgina al parámetro de la función.  
Por lo regular las funciones en casi todos los lenguajes de programación funcionan con argumentos posicionales, es decir que los parámetros tiene un orden.  
Sin embargo Python también cuenta con argumentos por nombre, donde basta con indicar como se llama el parámetro, sin necesariamente respetar el orden.

Los argumentos posicionales siempre deben ir antes que los argumentos por nombre, de lo contrario Python no sabe qué valor del argumento va cada parámetro:

In [15]:
def print_letter_count(text, letter='a'): # función con un parámetro por defecto
    counter = 0
    for char in text:
        if char == letter:
            counter += 1
    print('Number of', letter, 'is', counter)

print_letter_count('How many letters a are here?')

Number of a is 3

In [17]:
print_letter_count('Search here', 'e')

Number of e is 3

In [19]:
# Poniendo primero el argumento por nombre marcará un error
print_letter_count(letter = 'e', 'Search here')  # Esto generará un error

SyntaxError: positional argument follows keyword argument (1894199955.py, line 2)

## Name scopes

In [1]:
# Shadowing
# La variable local hace sombre a la variable global
# Durante la ejecución de la función, se usará la variable local / variable temporal

def show_truth():
    mysterious_var = 'New Surprise!'
    print(mysterious_var)

mysterious_var = 'Surprise!'
print(mysterious_var)
show_truth()
print(mysterious_var)

Surprise!
New Surprise!
Surprise!

In [2]:
# Para utilizar modificar la variable global se debe usar la palabra clave global
# Con esto se indica no hacer sombra a la variable global. No crear la variable temporal

def show_truth():
    global mysterious_var
    mysterious_var = 'New Surprise!'
    print(mysterious_var)

mysterious_var = 'Surprise!'
print(mysterious_var)
show_truth()
print(mysterious_var)

Surprise!
New Surprise!
New Surprise!

In [3]:
# Listas (lo mismo aplica para diccionarios)
# Si asignas una nueva lista a la misma variable en una función, el shadowing funciona correctamente

def show_truth():
    mysterious_var = ['New Surprise!']
    print(mysterious_var)

mysterious_var = ['Surprise!']
print(mysterious_var)
show_truth()
print(mysterious_var)

['Surprise!']
['New Surprise!']
['Surprise!']

In [5]:
# Pero si modificas la lista con corchetes o un método, entonces la variable global también se verá afectada

def show_truth():
    mysterious_var.append('New Surprise!')
    print(mysterious_var)
    mysterious_var[1] = 'Changed Surprise!'
    print(mysterious_var)

mysterious_var = ['Surprise!']
print(mysterious_var)
show_truth()
print(mysterious_var)

['Surprise!']
['Surprise!', 'New Surprise!']
['Surprise!', 'Changed Surprise!']
['Surprise!', 'Changed Surprise!']

## None value

None es un valor especial de Python. Es un valor devuelto implícitamente por funciones que no devuelven nada significativo (por ejemplo print).

In [6]:
x = None
if x is None:
    print('yes')
if x == None:
    print('it does')

print('---')

def greet():
    print('hello!')

x = greet()
print(x)

yes
it does
---
hello!
None

## Return

Return se puede usar para salir de una función.

In [8]:
def is_first_last_equal(number_list):
    if len(number_list) == 0:
        return
    if (number_list[0] == number_list[-1]):
        return True
    else:
        return False

In [9]:
print(is_first_last_equal([10, 20, 30, 40, 10]))
print(is_first_last_equal([10, 20, 30, 40, 50]))
print(is_first_last_equal([]))

True
False
None