In [1]:
print(0o1 + 0b1 + 0x1 + 1)
print(5 - 3**4 / 4)
print(1 | 0 ^ 1 & ~0)

4
-15.25
1

In [37]:
dict1 = {"one": 1, "two": 2, "three": 3}
dict2 = {"one": 1, "two": 5, "four": 8}
dict3 = dict(dict1)
print(dict3)

dict4 = dict(dict2)
print(dict4)

dict3.update(dict2)
print(dict3)

dict4.update(dict1)
print(dict4)

print(dict3 == dict4)

print(dict1["ten"])

{'one': 1, 'two': 2, 'three': 3}
{'one': 1, 'two': 5, 'four': 8}
{'one': 1, 'two': 5, 'three': 3, 'four': 8}
{'one': 1, 'two': 2, 'four': 8, 'three': 3}
False

KeyError: 'ten'

In [3]:
x = 4
y = 5
z = 3
print(x == y or z)

3

In [4]:
tup_a = (0, 1, 2)
tup_b = (2, 3, 4)
list_c = []
for el in tup_a:
    if el not in tup_b:
        list_c.append(el)
print(list_c)

[0, 1]

In [5]:
x = ["a", "b", {"one": 1, "two": {"x": 10, "y": 20, "z": 30}, "three": 3}, "c", "d"]
print(30 in x[2])
print("three" in x[2])

False
True

In [6]:
a = 0
while a <= 5:
    a += 2
    print("@")

@
@
@

In [7]:
print(5 - 3 ** 4 / 4)

-15.25

In [8]:
try:
    val = int(input('Provide a number: '))
    print(val/val)
except TypeError:
    print('a')
except ValueError:
    print('b')
except ZeroDivisionError:
    print('c')
except:
    print('d')

b

In [ ]:
for a in range(1, 3):
        for b in range(1, 3):
                if a > b:
                        continue
                else:
                        print(a * b)

1
2
4

In [10]:
for i in range(-1,1):
    print(i)

-1
0

In [11]:
print(2//3 ** 2)

0

In [12]:
tupla_vacia = tuple()
print(tupla_vacia)

()

In [14]:
print((1,'2',3) + (4,5,6))

(1, '2', 3, 4, 5, 6)

In [ ]:
i = 0

while i !=0:
    i//=2
    print("**",end="")
else:
    print("*")

*

In [17]:
k = 1

for i in range(1,2):
    for j in range(-1,2):
            if i ==j:
                k +=1
            else:
                break

print(k)

1

In [20]:
List1 = [10,20,30,40,50]
print(List1[:])
print(List1[2:6])
print(List1[5])

[10, 20, 30, 40, 50]
[30, 40, 50]

IndexError: list index out of range

In [ ]:
x = 20

def func():
    global x
    x+=10
    print(10+x)

print(x)
func()
print(x)

20
40
30

In [25]:
my_tupla = (1,)
print(my_tupla)

(1,)

In [ ]:
names = (True, False, True, False)

newnames = names[2:]
print(newnames)

i = 0

print(newnames[-1:])
for name in newnames[-1:]:
    if name:
        i+=1

print(i)

(False, True, False)
(False,)
0

In [30]:
my_tupla = (1, 2, 3, 4, 5)
print(my_tupla[-1:])

(5,)

In [ ]:
def check_even_odd(number):
    if number % 2 == 0:
        return "Even"
    else:
        return "Odd" 

print(check_even_odd(7))

Odd

In [36]:
List1 = [10,20,30,40,50]
lista2 = List1[::-1]
print(lista2)

[50, 40, 30, 20, 10]

In [40]:
dict = {"Dalserver":12,"Ausserver":14,"Londonserver":16}

for i in dict.items():
    print(i[0])
    print(i[1])

Dalserver
12
Ausserver
14
Londonserver
16

In [42]:
print(3//2 *3)
print((3//2) *3)
print(3//(2 *3))

3
3
0

In [47]:
List1 = [1,2,3,4,5]
print(List1.index(5)) # devuelve el indice del primer elemento que encuentra con valor igual a 5
print(List1.index(3)) # devuelve el indice del primer elemento que encuentra con valor igual a 3
print(len(List1[0:1]))

4
2
1

In [46]:
a = float(input("Enter a number. "))

b = float(input("Enter a number to divide by. "))

try:
    print (f"The answer is {a/b}.")

except:
    print("This did not work. Did you try to divide by zero?")

else:
    print("You successfully divided two numbers.")

finally:
    print("Thank you for playing.")

The answer is 0.0.
You successfully divided two numbers.
Thank you for playing.

In [50]:
myList = [1,2,3]
myList.pop()
print(myList)

myList.remove(2)
print(myList)

[1, 2]
[1]

In [52]:

binary_number = '101010'
decimal_number = int(binary_number, 2)
print(decimal_number)
# Output: 42

42

In [ ]:
List1 = [[1,2,3],[4,5,6],[7,8,9]]

print([[col+10 for col in row] for row in List1])

[[11, 12, 13], [14, 15, 16], [17, 18, 19]]

In [ ]:
L = [1, 2, 3, 4, 5]
L1 = L
L.append(7)

del L
print(L1)

[1, 2, 3, 4, 5, 7]

In [ ]:
values = []

for i in range(1,4):
    values.append(i)
    print(values)

[1]
[1, 2]
[1, 2, 3]

In [ ]:
L = [1,2,3,4,5]
L*2
print(L)

[1, 2, 3, 4, 5]

In [57]:
nested_data = ((1, 2), [3, 4], (5, [6, 7]))
print(len(nested_data[2][1]))

2

In [ ]:
# The loop runs for values of x from 0 to 2, printing each value.
# When x becomes 3, the break statement is executed, and the loop is terminated.
# Therefore, the else block associated with the for loop is not executed.
for x in range(4):
    if x == 3:
        break
    print(x)
else:
    print("Done")

0
1
2

In [ ]:
# odd numbers: n√∫meros impares
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [60]:
try:
    1/0
except ArithmeticError:
    print("It is wrong")
except ZeroDivisionError:
    print("Any number cannot be divided by zero")

It is wrong

In this case, the except ArithmeticError: block will be executed because ZeroDivisionError is a subclass of ArithmeticError. Python goes through the except blocks in order, and it finds the first one that matches the type of the raised exception.  
So, when dividing by zero, the output will be "It is wrong," even though the more specific ZeroDivisionError block is present. If you want to catch ZeroDivisionError specifically, it's recommended to place that block first in the order of except blocks.

In [61]:
try:
    1/0
except ZeroDivisionError:
    print("Any number cannot be divided by zero")
except ArithmeticError:
    print("It is wrong")

Any number cannot be divided by zero

In [64]:
list1 = [1, 2, 3]
list2 = list1
list2.append(4)

print(list1)

[1, 2, 3, 4]

In [65]:
x = [1, 2, 3]
y = x[:]
y.append(4)

print(x)

[1, 2, 3]